

html, body, #wrapper{ height: 100%; }
bodyX > #wrapper{height: auto; min-height: 100%; width: auto; min-width: 100%;}

#wrapperX { border: 0px solid red; }

body {
    background: url("../img/hero-1440.jpg") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-widthX: 100%;
    heightX: cover;
}

.row { max-widthX: 990px; max-width: 100%; }

.main-header {
    margin: auto;
    margin-top: 0px; 
    margin-bottom: 21px; 
    backgroundX: url(/img/hero-990.jpg) no-repeat center top  #FFF;
    background-sizeX: 990px;
    heightX: cover; 
    border: 0px solid red;
}

.main-header h2 { line-height: .7em; margin-top: 12px; padding-top: 0; }

.main-header .branding {
    position: relative;
    top: 40px; 
    left: 30px; 
    widthX: 476px; 
    border: 0px solid red;
    floatX: left;

}

.main-header .branding img {
    opacity: 0.76;
}

.main-header .branding .tagline {
    font-family: SpiegelCdOTBold; 
    font-weight: normal; 
    color: rgba(0,0,0,0.73);
    font-size: 43px; 
    letter-spacing: 9px;
    position: relative;
    left: 7px; 
}

.main-header .branding .soon { 
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 21px; 
        color: rgba(0,0,0,0.73);
}

footer > div {
    vertical-align: middle; 
    padding: .4em; 
}

.copyright { 
    colorX: #4d4d4d; 
    color: #FFF; 
    margin: auto; 
    border: 0px solid green; 
    background-color: rgba(0,0,0,0.21);
    padding: .2em;

}

footer {
    position: fixed;
    bottom: 0;
    height: 1.8em;
    width: 100%;
    vertical-align: middle;
    border: 0px solid yellow;
    background-colorX: rgba(0,0,0,0.21);

}

.social {
    padding-top: 2em; 
    border: 0px solid red;
}

#invite {
    padding-top: 55px; 
    text-alignX: center;
    border: 0px solid red;

}

.invite label {
    font-sizeX: 1.0rem;
    font-weight: 700;
    padding-left: 5px;
    text-alignX: center;
    border: 0px solid red;
}

.mybox {
    border: 0px solid green;
}

#invite-controls {
    float: left;
    border: 0px solid green;
    width: 476px;  
    text-align: center;
}

#bitcoin-badge {
    padding-topX: 21px; 
    float: left; 
    margin-top: -10px;
    margin-left: -21px;
    padding-leftX: 13px;
}